In [15]:
import numpy as np
import pandas as pd

bikes = pd.read_csv('bikeshare.csv', index_col='datetime', parse_dates=True)
bikes.sample(5)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
datetime,,,,,,,,,,,
2011-01-10 01:00:00,1,0,1,1,4.92,6.06,50,19.0012,1,0,1
2011-09-01 20:00:00,3,0,1,1,27.06,31.06,61,15.0013,33,247,280
2012-11-07 20:00:00,4,0,1,2,13.12,15.15,49,22.0028,7,249,256
2012-08-17 21:00:00,3,0,1,2,27.88,12.12,69,19.9995,57,198,255
2012-09-11 14:00:00,3,0,1,1,27.88,31.06,30,6.0032,74,181,255

In [16]:
bikes["hour"]=bikes.index.hour
bikes

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,hour
datetime,,,,,,,,,,,,
2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16,0
2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40,1
2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32,2
2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13,3
2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...
2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336,19
2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241,20
2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168,21
2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129,22
2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88,23

In [18]:
bik=pd.get_dummies(bikes["hour"])
bik

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
datetime,,,,,,,,,,,,,,,,,,,,,
2011-01-01 00:00:00,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2011-01-01 01:00:00,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2011-01-01 02:00:00,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2011-01-01 03:00:00,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2011-01-01 04:00:00,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-12-19 19:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2012-12-19 20:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2012-12-19 21:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2012-12-19 22:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2012-12-19 23:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [21]:
a = np.array(((bikes.index.hour) >= 7) & (bikes.index.hour <= 20))
a.astype(int)

array([0, 0, 0, ..., 0, 0, 0])

In [23]:
bikes["day"]=a.astype(int)
bikes

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,hour,day
datetime,,,,,,,,,,,,,
2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16,0,0
2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40,1,0
2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32,2,0
2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13,3,0
2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336,19,1
2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241,20,1
2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168,21,0
2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129,22,0
2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88,23,0

In [49]:
bikes= pd.concat([bikes,bik],axis=1)
bikes

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,...,14,15,16,17,18,19,20,21,22,23
datetime,,,,,,,,,,,,,,,,,,,,,
2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,...,0,0,0,0,0,0,0,0,0,0
2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,...,0,0,0,0,0,0,0,0,0,0
2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,...,0,0,0,0,0,0,0,0,0,0
2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,...,0,0,0,0,0,0,0,0,0,0
2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,...,0,0,0,0,0,1,0,0,0,0
2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,...,0,0,0,0,0,0,1,0,0,0
2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,...,0,0,0,0,0,0,0,1,0,0
2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,...,0,0,0,0,0,0,0,0,1,0
2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,...,0,0,0,0,0,0,0,0,0,1

In [57]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics
bikes.rename(columns={'count':'total'}, inplace=True)

In [56]:
feature_cols = ['temp']
X = bikes[feature_cols]
y = bikes.count
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(X, y)
print (linreg.intercept_)
print (linreg.coef_)

TypeError: Singleton array array(<bound method DataFrame.count of                      season  holiday  workingday  weather   temp   atemp  \
datetime
2011-01-01 00:00:00       1        0           0        1   9.84  14.395
2011-01-01 01:00:00       1        0           0        1   9.02  13.635
2011-01-01 02:00:00       1        0           0        1   9.02  13.635
2011-01-01 03:00:00       1        0           0        1   9.84  14.395
2011-01-01 04:00:00       1        0           0        1   9.84  14.395
...                     ...      ...         ...      ...    ...     ...
2012-12-19 19:00:00       4        0           1        1  15.58  19.695
2012-12-19 20:00:00       4        0           1        1  14.76  17.425
2012-12-19 21:00:00       4        0           1        1  13.94  15.910
2012-12-19 22:00:00       4        0           1        1  13.94  17.425
2012-12-19 23:00:00       4        0           1        1  13.12  16.665

                     humidity  windspeed  casual  registered  ...  14  15  16  \
datetime                                                      ...
2011-01-01 00:00:00        81     0.0000       3          13  ...   0   0   0
2011-01-01 01:00:00        80     0.0000       8          32  ...   0   0   0
2011-01-01 02:00:00        80     0.0000       5          27  ...   0   0   0
2011-01-01 03:00:00        75     0.0000       3          10  ...   0   0   0
2011-01-01 04:00:00        75     0.0000       0           1  ...   0   0   0
...                       ...        ...     ...         ...  ...  ..  ..  ..
2012-12-19 19:00:00        50    26.0027       7         329  ...   0   0   0
2012-12-19 20:00:00        57    15.0013      10         231  ...   0   0   0
2012-12-19 21:00:00        61    15.0013       4         164  ...   0   0   0
2012-12-19 22:00:00        61     6.0032      12         117  ...   0   0   0
2012-12-19 23:00:00        66     8.9981       4          84  ...   0   0   0

                     17  18  19  20  21  22  23
datetime
2011-01-01 00:00:00   0   0   0   0   0   0   0
2011-01-01 01:00:00   0   0   0   0   0   0   0
2011-01-01 02:00:00   0   0   0   0   0   0   0
2011-01-01 03:00:00   0   0   0   0   0   0   0
2011-01-01 04:00:00   0   0   0   0   0   0   0
...                  ..  ..  ..  ..  ..  ..  ..
2012-12-19 19:00:00   0   0   1   0   0   0   0
2012-12-19 20:00:00   0   0   0   1   0   0   0
2012-12-19 21:00:00   0   0   0   0   1   0   0
2012-12-19 22:00:00   0   0   0   0   0   1   0
2012-12-19 23:00:00   0   0   0   0   0   0   1

[10886 rows x 61 columns]>, dtype=object) cannot be considered a valid collection.

In [51]:
from sklearn.model_selection import train_test_split

def train_test_rmse(feature_cols):
    X = df[feature_cols]
    y = count
    # Como estamos trabajando con observaciones ordenadas en el tiempo, ponemos
    # shuffle=False para evitar data leakage
    X_train, X_test, y_train, y_test = train_test_split(X, y, shuffle=False)
    linreg = LinearRegression()
    linreg.fit(X_train, y_train)
    y_pred = linreg.predict(X_test)
    return np.sqrt(metrics.mean_squared_error(y_test, y_pred))

In [ ]:
linreg.intercept_ + linreg.coef_*test
import numpy as np